:root {
    --darklighter: #363636;
    --dark: #2e2e2e;
    --darker: #222222;
    --darkest: #111;
    --gray: #797979;
    --light: #D1D1D1;
    --lighter: #E9E9E9;
    --accent: #fe2851;
}

/* logo */
._4f59 > a > span,
._4f59 > i,
._4f59 {
    transition: all 0.3s ease;
    color: var(--light) !important;
}

.b9ac {
    transition: all 0.3s ease;
    color: var(--light) !important;
}

.dcfd:hover span,
.dcfd:hover .b9ac:hover {
    color: var(--accent) !important;
}

/* header */
._1d4f {
    background-color: var(--darker) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

/* main content */
body,
#app-root {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

/* player controls */
._7312 {
    background-color: var(--darker) !important;
    color: var(--light) !important;
    box-shadow: 20px 5px 50px 15px var(--darkest) !important;
    z-index: 10;
}

/* play and shuffle buttons */
._7312 ._4af2 > span {
    color: var(--light) !important;
}

.bbbf .fa-random:before {
    color: var(--accent) !important;
}

/* sidebar */
._4ed7 ._72ce {
    z-index: 0;
}

._4ed7 {
    background-color: var(--darker) !important;
    color: var(--accent) !important;
    border: none !important;
}

._4ed7 ._72ce ._3d7f {
    border: none !important;
}

._3d7f {
    background-color: var(--darker) !important;
}

._4ed7 ._72ce ._3d7f ul li a._40a8 {
    background-color: var(--dark) !important;
    border: none !important;
}

/* section title */
._70a2 h3 {
    color: var(--accent) !important;
}

/* active tab */
li a.a19b {
    border-color: var(--dark) !important;
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

/* for you */
.aa5e .a884 {
    background: none !important;
}

/* artists */
.d788 ul li ._9d01:before {
    background: none !important;
}

.d788 ul li .c9ae ._9d01:after {
    background: var(--dark2) !important;
}

.ReactVirtualized__Grid__innerScrollContainer li:hover ._9d01:after,
.d788 ul li .c9ae ._9d01:after {
    background: var(--darklighter) !important;
}

.d788 {
    border-right: none !important;
}

/* modal */
._1a01 ._92f0 {
    background-color: var(--dark) !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15);
}

._1a01 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* artist actions button */
._9c93 > .d2b9 {
    background-color: var(--darker) !important;
    border-radius: 3px !important;
}

._9c93 > .d2b9:hover {
    background-color: var(--darker) !important;
}

.react-contextmenu {
    background-color: var(--darker) !important;
    box-shadow: 1px 1px 5px var(--dark) !important;
}

.react-contextmenu .react-contextmenu-item:hover {
    color: #ccc !important;
    background-color: #d51831 !important;
}

.react-contextmenu ._9cca > h1 {
    color: #bbb !important;
}

.react-contextmenu ._9cca > h2,
.react-contextmenu ._9cca > h3,
.react-contextmenu .react-contextmenu-item {
    color: #aaa !important;
}

.react-contextmenu .react-contextmenu-item--divider:hover {
    background-color: var(--dark) !important;
}

.react-contextmenu .react-contextmenu-item--divider {
    border-color: var(--dark) !important;
    filter: blur(1px) !important;
}

/* inactive tab */
li a:not(.a19b) {
    color: var(--lighter) !important;
}

li a:not(.a19b):hover {
    color: var(--lighter) !important;
}

/* song hover */
._3bf9:hover .d1f2::after {
    background-color: var(--darklighter) !important;
}

/* songs */
._3bf9 .d1f2:before {
    background: none !important;
}

._646c {
    background: none !important;
}

._3bf9 .b7a3 .a83a {
    color: var(--lighter) !important;
}

._3bf9 .b7a3 > span {
    color: var(--gray) !important;
}

/* scrollbar */
::-webkit-scrollbar-thumb {
    background: var(--accent) !important;
}

/* search bar */
._8a29 > form > input,
._8a29 > form > button {
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
}

._8a29 > form > input,
._8a29 > form > button:hover {
    color: var(--light) !important;
}

._8a29 > form > input::placeholder,
._8a29 > form > button {
    color: var(--light) !important;
}

/* search popup */
.f82d ._8a29 ._3afe._7748 {
    margin-top: -4px !important;
    margin-right: 0 !important;
    background-color: var(--dark) !important;
    box-shadow: 0 4px 26px -10px var(--darkest) !important;
}

/* search popup section titles */
._56e4 {
    background-color: var(--dark) !important;
    color: var(--light) !important;
}

.d5cd:hover,
.f82c:hover {
    color: var(--light) !important;
    background-color: var(--darklighter) !important;
}